@font-face {
  font-family: "diis_mono_chialab";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-thin.otf")
    format("opentype");
}
@font-face {
  font-family: "diis_mono_chialab";
  font-weight: 200;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-light.otf")
    format("opentype");
}
@font-face {
  font-family: "diis_mono_chialab";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-medium.otf")
    format("opentype");
}
@font-face {
  font-family: "diis_mono_chialabregular";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-regular.otf")
    format("opentype");
}
@font-face {
  font-family: "diis_mono_chialabsemi_bold";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-semibold.otf")
    format("opentype");
}
@font-face {
  font-family: "diis_mono_chialabbold";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/diismono_chialab/diismono_chialab-bold.otf")
    format("opentype");
}

body {
  font-family: "diis_mono_chialab", monospace;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

.container popup,
footer,
.video-container {
  padding: 0.5rem;
}

.content p,
#ask p,
.container.popup header p {
  margin-top: 0.5em;
}

.title,
.disclaimer {
  padding: 1rem 0 1rem 0;
  font-family: "diis_mono_chialabregular";
  font-weight: 400;
}

#ask {
  width: 100%;
  text-decoration: none;
  margin: 1rem 0 1rem 0;
  text-transform: uppercase;
  color: black;
}

#ask p {
  flex: none;
  padding: 0;
}

.video-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#video-stream {
  display: none;
  width: 50%;
}

.feedback {
  width: 50%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
}

.popup {
  width: 450px;
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0.25rem 0 0.5rem 0;
  border-bottom: 1px solid black;
}

.container p {
  padding: 0;
  margin: 0;
}

.container.popup header p {
  padding: 0.25em;
}

.title {
  font-size: 1.25rem;
  line-height: 1;
}

footer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

.permission {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 1em;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: flex-start;
}

.content .column {
  width: 50%;
}

.content .disclaimer {
  font-size: 1.25rem;
  font-weight: medium;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 0.875rem;
}

.feedback .direction {
  display: none;
}

.feedback .direction p {
    font-size: 0.75em;
}

.direction img {
  object-fit: scale-down;
  margin: auto;
  display: block;
}

.external {
  cursor: alias;
}

.external::before {
  background: url(arrow-right.svg) center/1rem no-repeat;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: 0.1rem;
}

.loading {
  display: none;
}
